# Project exclude paths
/target/
/core/src/main/test/
/dependency-reduced-pom.xml
/.idea
/TrLogger.iml
/logs
/core/src/main/resources/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
